################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NCS.DSS.Customer/v15
/.vs
/packages
/NCS.DSS.Customer/Properties/PublishProfiles
/UpgradeLog.htm
/NCS.DSS.Customer.Tests/obj/
/NCS.DSS.Customer.Tests/bin/
/NCS.DSS.Customer/obj/
/NCS.DSS.Customer/bin/
/NCS.DSS.Customer.ChangeFeed/obj
/TestResults/b70c8082-fd3a-4318-bf90-11dc32c35fb8/husse_LAPTOP-77R1GD85 2020-01-31 08_55_50.coverage
