################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NCS.DSS.Customer/v15
/.vs
/packages
/NCS.DSS.Customer/Properties/PublishProfiles
/UpgradeLog.htm
/NCS.DSS.Customer.Tests/obj/
/NCS.DSS.Customer.Tests/bin/
/NCS.DSS.Customer/obj/
/NCS.DSS.Customer/bin/